/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* background: linear-gradient(135deg, var(--ifm-color-primary) 0%, var(--ifm-color-primary-darker) 100%); */
}

.heroDescription {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 2rem auto;
  color: var(--ifm-color-white);
  opacity: 0.9;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .buttons {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .heroDescription {
    font-size: 1rem;
    margin: 1.5rem auto;
  }
}
